h1 {
    color: #f965df;
     font-family: "Dela Gothic One", sans-serif;
     font-style: normal;
}

.hidden{display: none;}



#start-screen img {
  max-width: 250px;
  width: 100%;
  height: auto;
}

#final-card-img {
  max-width: 320px;
  max-height: 420px;
  width: auto;
  height: auto;
}